*{
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .wolf{
    height: 100px;
    width: 200px;
    top: 600px;
    left: 1300px;
    transition: 200ms;
    transform: scale(-1, 1);
    z-index: 1;
  }
  .block0{
    height: 100px;  
    left:1400px;
    width: 100px;
    top: 700px;
  }
  .block1{
    height: 100px;
    left:1300px;
    width: 100px;
    top: 700px;
  }
  .block2{
    height:100px;
    width: 100px;
    top:  600px;
    left: 1200px;
  }
  .block3{
    height: 100px;
    width: 100px;
    top:  600px;
    left: 1200px;
  }
  .block4{
    height: 100px;
    width: 100px;
    top: 700px;
    left: 300px;
  }
  .block5{
    height: 100px;
    width: 100px;
    top: 700px;
    left: 400px;
  }
  .block6{
    height: 100px;
    width: 100px;
    top: 600px;
    left: 300px;
  }
  .block7{
    height: 100px;
    width: 100px;
    top: 600px;
    left: 400px;
  }
  .block8{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 300px;
  }
  .block9{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 400px;
  }
  .block10{
    height: 100px;
    width: 100px;
    top: 500px;
    left: 700px;
  }
  .block11{
    height: 100px;
    width: 100px;
    top: 500px;
    left: 800px;
    transition: 500ms;
  }
  .block12{
    height: 100px;
    width: 100px;
    top: 500px;
    left: 1000px;
    transition: 500ms;
  }
  .block13{
    height: 100px;
    width: 100px;
    top: 600px;
    left: 1000px;
    transition: 500ms;
  }
  .block14{
    height: 100px;
    width: 100px;
    top: 700px;
    left: 1000px;
    transition: 500ms;
  }
  .block15{
    height: 100px;
    width: 100px;
    top: 700px;
    left: 1100px;
    transition: 500ms;
  }
  .block16{
    height: 100px;
    width: 100px;
    top: 700px;
    left: 1200px;
    transition: 500ms;
  }
  .block17{
    height: 100px;
    width: 100px;
    top: 700px;
    left: 1300px;
    transition: 500ms;
  }
  .block18{
    height: 100px;
    width: 100px;
    top: 600px;
    left: 1300px;
    transition: 500ms;
  }
  .block19{
    height: 100px;
    width: 100px;
    top: 500px;
    left: 1300px;
    transition: 500ms;
  }
  .block20{
    height: 100px;
    width: 100px;
    top: 400px;
    left: 1300px;
    transition: 500ms;
  }
  .block21{
    height: 100px;
    width: 100px;
    top: 500px;
    left: 1100px;
    opacity: 0;
  }
  .block22{
    height: 100px;
    width: 100px;
    top: 500px;
    left: 1200px;
    opacity: 0;
  }
  .img1{
    height: 100px;
    width: 100px;
    top: 700px;
    left: 200px;
    transition: 100ms;
    z-index: -1;
  }
  .img2{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 300px;
    transition: 100ms;
    z-index: -1;
    transform:rotate(270deg);
  }
  .img3{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 300px;
    transition: 100ms;
    z-index: -1;
    transform:rotate(180deg);
  }
  .img4{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 400px;
    transition: 100ms;
    z-index: -1;
    transform:rotate(180deg);
  }
  .img5{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 400px;
    transition: 100ms;
    z-index: -1;
    transform:rotate(90deg);
  }
  .back{
    height: 800px;
    width: 1450px;
    z-index: -2;
  }
  .door{
    left: 1247px;
    top: 262px;
    height: 200px;
    width: 200px;
  }